RewriteEngine On
RewriteRule ^home/?$     /view/home/
RewriteRule ^/?$         /view/home/
RewriteRule ^search/?$     /view/search/
RewriteRule ^topic/?$     /view/topic/
RewriteRule ^category/?$     /view/category/