{% extends "_base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
    <h1>{% if loggedIn %}true{% else %}false{% endif %}</h1>
    {% if loggedIn == false %}
    <div class="row col-12" id="">
        <div class="col-md-6">
            <div class="col">
                <div class="card border-dark">
                    <h5 class="card-header bg-dark text-light">
                        Sign in
                    </h5>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form action="/login" method="post" id="l_form">
                            <div class="form-group">
                                <label for="l_username">Username</label>
                                <input type="text" name="l_username" id="l_username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="l_password">Password</label>
                                <input type="password" name="l_password" id="l_password" class="form-control" required>
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" name="l_remember" id="l_remember" class="form-check-input">
                                <label for="l_remember" class="form-check-label">Remember me</label>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-dark btn-block" name="l_signin" id="l_signin" type="submit" form="l_form">Sign in</button>
                            </div>
                            <!-- /.form-group -->
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="col-md-6">
            <div class="card border-dark">
                <h5 class="card-header bg-dark text-light">
                    Sign up
                </h5>
                <!-- /.card-header -->
                <div class="card-body">
                    <form action="/register" method="post" id="r_form">
                        <div class="form-group">
                            <label for="r_username">Username</label>
                            <input type="text" name="r_username" id="r_username" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="r_username">Email</label>
                            <input type="email" name="r_email" id="r_email" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="r_password">Password</label>
                            <input type="password" name="r_password" id="r_password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="r_confirm_password">Confirm Password</label>
                            <input type="password" name="r_confirm_password" id="r_confirm_password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-dark btn-block" name="r_signup" id="r_signup" type="submit" form="r_form">Sign up</button>
                        </div>
                        <!-- /.form-group -->
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.row -->
    </div>

    {% endif %}

    <div class="col-12">
        <div class="row mb-3">
            <div class="col">
                <div class="card border-dark">
                    <div class="card-body p-0">
                        <table class="table mb-0">
                            <thead class="card-header bg-dark text-light">
                            <th>
                                CATEGORY
                            </th>
                            <th>
                                TOPICS
                            </th>
                            <th>
                                LAST TOPIC
                            </th>
                            </thead>
                            <tbody>
                            {% for categoryTableRow in categoryTableRows %}
                            {% include "categoryTableRow.html" %}
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card border-primary -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</div>

<!-- /.container -->
{% endblock content %}