{% extends "_base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
<h1 class="display-3">{{ category.title }}</h1>
    <div class="row">
        <div class="col-12">
            <div class="row mb-3">
                <div class="col">
                    <div class="card border-dark">
                        <div class="card-body p-0">

                            <table class="table mb-0">
                                <thead class="card-header bg-dark text-light">
                                <th>
                                    TOPIC
                                </th>
                                <th>
                                    REPLIES
                                </th>
                                <th>
                                    LAST REPLY
                                </th>
                                </thead>
                                <tbody>
                                {% for topic in topics %}
                                {% include "topicTableRow.html" %}
                                {% endfor %}
                                </tbody>
                            </table>
                            <!-- /.table -->

                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card border-primary -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->


        </div>
        <!-- /.col-8 -->

    </div>

    {% if createTopic == true %}

    <div class="card">
        <h5 class="card-header">
            Create New Topic
        </h5>
        <!-- /.card-header -->
        <div class="card-body">
            <form action="/newTopic" method="post" id="topicForm">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group col">
                        <label for="selectCategory">Select Category:</label>
                        <select name="category" class="form-control" id="selectCategory" form="topicForm">
                            {% for category in categoryList %}
                            <option value="{{ category.categoryId }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input type="text" name="title" id="title" class="form-control" form="topicForm">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="content">Content:</label>
                    <textarea name="content" id="content" class="form-control" form="topicForm"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">

                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <button class="btn btn-success" form="topicForm">Submit</button>
                    </div>
                </div>
            </div>
                <input type="hidden" name="userId" value="{{user.userId}}">
            </form>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

    {% endif %}
</div>
{% endblock content %}