<div class="row" id="">
    <div class="col-12 col-md-6">
        {% include "login.twig" %}
    </div>
    <div class="col-12 col-md-6">
        {% include "register.twig" %}
    </div>
</div>
<!-- /.row -->