{% extends "_base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block content %}
<div class="container">
    <small><a href="./">Home</a> / <a href="./category?id={{topic.categoryId}}">{{ topic.categoryTitle }}</a> / {{ topic.topicTitle }}</small>
    <div class="row mb-3">
        <div class="col">

            <div class="card">
                <h5 class="card-header">
                    {{ topic.topicTitle }} <small> - {{ topic.topicTimestamp }}</small>
                </h5>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h4>
                                <a href="./user?id={{ topic.userId }}">
                                    {{ topic.topicUser }}
                                </a>
                            </h4>

                            <hr>

                            <h5>{{ topic.topicTitle }}</h5>

                            <p>{{ topic.topicContent }}</p>

                            <img width="200px" height="200px" src="http://placehold.it/1920x1080?text=Go shit compiler" alt="" class="img-fluid">
                        </div>
                        <!-- /.col-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="col-md-12">
        <div class="col-md-12">
            {% for reply in replies %}
            <div class="card">
                <div class="card-header"><a href="./user?id={{ reply.userId }}">{{ reply.username }}</a></div>
                <div class="card-body">
                    <p>{{ reply.content }}</p>
                    <br>
                    <small>{{ reply.timestamp }}</small>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if loggedIn == true %}
        <p>Reply:</p>
        <div class="input-group-text">
            <form action="./newReply?topicId={{ topic.topicId }}" id="n_reply"></form>
            <input type="hidden" id="n_user" name="n_user" form="n_reply" value="{{ user.userId }}">
            <input type="hidden" id="n_topic" name="n_topic" form="n_reply" value="{{ topic.topicId }}">
            <textarea name="n_content" id="n_content" class="form-control" form="n_reply" required></textarea>
            <button class="btn btn-lg btn-outline-success" type="submit" form="n_reply">Send</button>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}